html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-group input[type=submit],
.form-group label {
    text-transform: uppercase
}

.form-group label{
    color:gray;
}

.bg-ex-color {
    background: #a8d7e1; /* Цвет блока */
    width: 100%; /* Ширина блока */
    height: 350px; /* Высота блока */
}

html {
    background-image: url("/img/rubles.jpg") !important;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.opacity {
    /*opacity: 0.1;*/
    background-color: none;
}